@charset 'UTF-8';

html {
    color: #222;
    font-size: 1em;
    height: 100%;
    line-height: 1.4;
}

body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

main {
    height: 100%;
}

#flash {
    background-color: rgba(133, 13, 26, 0.9);
    height: 100%;
    padding: 10px;
    text-align: center;
}

#wouldbeFace {
    max-height: 100%;
    max-width: 100%;
}
