@charset 'UTF-8';

html {
    color: #222;
    font-size: 1em;
    height: 100%;
    line-height: 1.4;
}

body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

main {
    background-color: #333;
    height: 100%;
    padding: 2%;
    position: relative;
}

#topWrap {
    height: 50%;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
}

#wouldbeFaceWrap {
    display: inline-block;
    height: 100%;
    position: relative;
}

#flashingEyes {
    height: 10%;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 900ms ease-in-out;
    width: 80%;
    z-index: 9;
}

#wouldbeFace {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#msgWrap {
    background-color: #ccaf80;
    border: 10px solid #946544;
    border-radius: 20px;
    font-family: 'Play', sans-serif;
    font-size: 24px;
    height: 46%;
    left: 50%;
    line-height: 30px;
    overflow-y: auto; 
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    width: 90%;
}

#msgWrap .cursor {
    animation: blink 700ms infinite;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

@media (max-width: 600px) {
    #msgWrap {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 400px) {
    #msgWrap {
        font-size: 16px;
        line-height: 20px;
    }
}
